*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    font-family: 'open sans';
}


.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;  
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */

header{
   width: 100%;
   height: 600px;
   background: #c31432;  
   /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(275, 67%, 13%, 0.603), hsla(350, 81%, 42%, 0.455)), url(../img/submariner-water-beauty-shot-banner-m124060-0001_2008jva_001_portrait.webp); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: contain;
background-attachment: fixed;
position: relative;
}
.logo{
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;    
    color: #fff;
}

.textos-header h2{
    font-size: 30px;    
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Galeria */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

.imagen-port{
    width: 30%;
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}


.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:rgba(132, 61, 6, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 60px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/* Servicios */

.about-us{
  background: #f2f2f2;
  padding-bottom: 30px;  
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 8%;
    text-align: center;
}

.servicio-ind img{
    width: 75%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}


/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.contenedor-footer h2{
    color: #f2f2f2;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

